//fonts
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap');

//Variables
$bright-pink: #ff7171;
$light-pink: #f5c0c0;
$beige: #f0e4d7;
$blue: #9fd8df;
$white: #ffffff;

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
	background: $beige;
	font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
	display: block;
}

.btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding: 12px 24px;
	border-radius: 4px;
	color: $white;
	font-weight: 700;
	transition: 0.25s;
	&-primary {
		background: $bright-pink;
		&:hover {
			filter: brightness(115%);
		}
	}
}
